.scanner-layout .cmp-layout__content {
  padding: 0;
}

.video-feed-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  /* height: 100vh; */
  height: 100%;
  overflow: hidden;
  background-color: grey;
}

.video-feed-wrapper canvas {
  height: unset !important;
}

.video-feed {
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
  width: 100%;
  /* height: auto; */
}

.viewfinder {
  position: absolute;
  top: 50%;
  left: 30px;
  transform: translateY(-50%);
  width: calc(100% - 60px);
  height: 130px;
  border: 2px solid #ff0000;
  box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.5);
}

.viewfinder.result {
  border: 2px solid green;
}

.viewfinder.outside {
  border: 2px solid orange;
}
